
<br>
<br>
<br>
<br>


<nz-content>

  <div class="d-flex align-items-center" style="margin-right: 170px; margin-left: 170px;">
    <input nz-input placeholder="Seleccionar hospital" nzSize="default" style="width: 600px; margin-right: 220px; border-radius: 12px;" />
    <br />
    <input nz-input placeholder="Seleccionar Piso" nzSize="default" style="width: 600px; margin-right: 220px; border-radius: 12px;" />
    <br />
    <button nz-button [nzType]="'primary'" (click)="showModal()" style="width: 250px; background-color: #083D6C; border-radius: 12px;"><span>Nueva Sala</span></button>
  
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Agregar nueva cama" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzOkText="Guardar" nzCancelText="Cancelar" class="custom-modal">
      <ng-container *nzModalContent>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Nombre de la sala" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack2"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy1"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom3"></nz-option>
        </nz-select>
        <br><br>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Hospial" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jonas" nzValue="Jonas"></nz-option>
          <nz-option nzLabel="Luis" nzValue="Luis"></nz-option>
          <nz-option nzLabel="Jeniffer" nzValue="jeniffer"></nz-option>
        </nz-select>
        <br><br>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Piso" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack2"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy1"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom3"></nz-option>
        </nz-select>
        <br><br>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Especialidad" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jonas" nzValue="Jonas"></nz-option>
          <nz-option nzLabel="Luis" nzValue="Luis"></nz-option>
          <nz-option nzLabel="Jeniffer" nzValue="jeniffer"></nz-option>
        </nz-select>
      </ng-container>
    </nz-modal>
  
  
  
  </div>
    
</nz-content>

<nz-layout>
    
    <nz-content>
   
        <nz-table #basicTable [nzData]="listOfData" style="color: #ffffff; margin-left: 170px; margin-right: 170px;">
            <thead style="background-color: #ffffff !important; border-radius: 5px !important;">
              <tr>
                <th>ID</th>
                <th>Nombre de la sala</th>
                <th>Actualización</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              @for (data of basicTable.data; track data) {
                <tr>    
                  <td>{{ data.id }}</td>
                  <td>{{ data.sala }}</td>
                  <td>{{ data.update }}</td>
                  <td>
                    <button nz-button nzType="primary" (click)="showEdit()">Editar</button>
                    <!--<a>Action 一 {{ data.name }}</a>-->
                    
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="primary" (click)="showConfirm()">Eliminar</button>
                  </td>
                </tr>
              }
            </tbody>
          </nz-table>

    </nz-content>

    <nz-footer style="background-color: #ffffff !important;">Footer</nz-footer>

  </nz-layout>



<!--
  <br>

  <section>
    <div class="buscar">
        <span>Buscador</span>
    </div>

    <div class="tabla">
        <span>Tabla</span>
    </div>

    <div class="foo">
        <span>footer</span>
    </div>
  </section>

-->