
html  {
  background-color: #d14e4e; /* Cambia el color según lo que necesites */
}

.container1{
  margin-left: 100px;
  padding-top: 23px;
  margin-right: 23px;
  margin-bottom: 23px;
  border-radius: 40px;
}

.containerP{
  background: linear-gradient(to bottom, #052C4E, #0D4678, #2068A9);
  
}