
<main class="main">
    <header>
        <div class="container-fluid p-3 text-white" style="background-color: #083D6C; box-shadow: 1px 2px 75px #083D6C;">
            <div class="d-flex align-items-center justify-content-center">
                
                <!-- Botón de Gestión de Camas (Izquierda) -->
                <div class="d-flex align-items-center" style="width: 15%;">
                    <button class="btn btn-light me-2">
                        <!--ICONO-->
                    </button>
                    <span class="text-white">Gestión de Camas</span>
                </div>
    
                <!-- Logo del Gobierno Nacional (Centro) -->
                <div class="d-flex justify-content-center" style="padding-left: 13%; padding-right: 13%;">
                    <img src="assets/cropped-cropped-LOGO-CSS-GOBIERNO-NACIONAL.png" alt="Gobierno de Panamá" class="img-fluid" style="width: 500px;">
                </div>
    
                <!-- Botón "Ir al inicio" (Derecha) -->
                <div class="d-flex align-items-center" style="width: 15%; justify-content:end;">
                    <a [routerLink]="'/'" class="text-white"> Ir al Inicio </a>
<!-- 
                    <span class="text-white me-2">Ir al inicio</span>                 
-->
                        <button class="btn btn-light">
                            <!--Icono-->
                        </button>
                </div>
            </div>
        </div>
    </header>


        <div class="align-items-center justify-content-center">
            <div>
                <app-pisos></app-pisos>
            </div>
            <div>
                <app-camas></app-camas>
            </div>
            <div>
                <app-salas></app-salas>
            </div>
            <div>
                <app-roles></app-roles>
            </div>
        </div>



