

.containerP { 
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 15px;
    
    padding: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*
[nz-menu] {
    width: 240px;
  }
*/