:host {
    text-align: center;
  }

  nz-header,
  nz-footer {
    background: #7dbcea;
    color: #fff;
  }

  nz-footer {
    line-height: 1.5;
  }

  nz-content {
    background: rgb(255, 255, 255);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  .buscador { 
    background-color: #fff;
  }

  .buscar, .foo{
    background: #7dbcea;
    color: #fff;
  }

  .foo{
    line-height: 1.5;
  }

  .tabla {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  
  th {
    background-color: #083D6C !important;
    color: #fff !important;
    text-align: center;
  }

  nz-badge{
    margin-right: 20px;
  }   

  /*
  [nz-form] {
    max-width: 600px;
  }
*/

nz-select {
  width: 100%;
}

::ng-deep .ant-modal-header{
  background-color: #083D6C;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

::ng-deep .ant-btn-text{
  background-color: #d83e3e;
}

::ng-deep .ant-btn:hover{
  background-color: #fff;
  color: #42aaf5;
}


::ng-deep .ant-modal-content{
  border-radius: 15px;
  color: #fff;
}
   
::ng-deep .ant-modal-title{
  color: #fff;
}

::ng-deep .ant-btn  {
  /* Botón secundario */
  background-color: #083D6C;
  border-radius: 8px;
  color: #fefefe;
}

::ng-deep .ant-modal-footer{
  justify-content: center;
  align-items: center;
}


  





