
<br>
<br>
<br>
<br>

<nz-content>

    <div class="container1">
    
    <div class="d-flex align-items-center justify-content-between margin-bottom: 20px">
      <input nz-input placeholder="Hospital" nzSize="default" style="width: 500px; border-radius: 12px;" />
    <br />
      <button nz-button [nzType]="'primary'" (click)="showModal()" style="width: 250px; background-color: #083D6C; border-radius: 12px;"><span>Nueva Cama</span></button>
    
    </div>

    <nz-modal [(nzVisible)]="isVisible" nzTitle="Agregar nueva cama" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzOkText="Guardar" nzCancelText="Cancelar" class="custom-modal">
      <ng-container *nzModalContent>

<!--
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input formControlName="email" id="email" placeholder="Hospital"/>
          </nz-form-control>
        </nz-form-item>
-->

        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Hospital" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>
        <br><br>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Piso" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>
        <br><br>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Sala" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>
        <br><br>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Tipo de sala" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>
        <br><br>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Estado" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>

        
      </ng-container>
    </nz-modal>
    
  </div>
    
</nz-content>

<nz-layout style="background-color: #ffffff;">

    <div style="margin-right: 170px; margin-left: 170px; background-color: #ffffff; padding: 12px;">
        <!--
            <h4 style="margin-bottom: 16px">Presets:</h4>
        <div>
        @for (color of presetColors; track color) {
            <nz-tag [nzColor]="color">{{ color }}</nz-tag>
        }
        </div>
        <h4 style="margin: 16px 0">Custom:</h4>
    -->
        <div class="d-flex">
                <nz-badge nzStatus="success" nzText="Disponible"></nz-badge>
                
                <nz-badge nzStatus="error" nzText="Ocupada"></nz-badge>
                
                <nz-badge nzStatus="warning" nzText="Mantenimiento"></nz-badge>
        </div>
    </div>
    
    <nz-content>
   
        <nz-table #basicTable [nzData]="listOfData" style="color: #ffffff; margin-left: 170px; margin-right: 170px;">
            <thead style="background-color: #ffffff !important; border-radius: 5px !important;">
              <tr>
                <th>ID</th>
                <th>Estado</th>
                <th>Actualización</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              @for (data of basicTable.data; track data) {
                <tr>    
                  <td>{{ data.id }}</td>
                  <td>{{ data.piso }}</td>
                  <td>{{ data.update }}</td>
                  <td>
                    <button nz-button nzType="primary" (click)="showEdit()">Editar</button>
                    <!--<a>Action 一 {{ data.name }}</a>-->
                    
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="primary" (click)="showConfirm()">Eliminar</button>
                  </td>
                </tr>
              }
            </tbody>
          </nz-table>

    </nz-content>

    <nz-footer style="background-color: #ffffff !important;">Footer</nz-footer>

  </nz-layout>



<!--
  <br>

  <section>
    <div class="buscar">
        <span>Buscador</span>
    </div>

    <div class="tabla">
        <span>Tabla</span>
    </div>

    <div class="foo">
        <span>footer</span>
    </div>
  </section>

-->